/*
 * style.css
 */

canvas {
    pointer-events: none;
}

p {
    text-align: center;
}

.card {
    font-size: 15px;
}

label {
    margin: 10px;
}

.card-action {
    text-align: center;
}

.card-text {
    font-color: blue;
}

img {
    visibility: hidden;
}