<div class="container-fluid">
    <div class="row">
        <div class="card col s12 m8 l8 blue-gray darken-1">
            <div class="card-title #00bfa5 teal accent-4 text-center"> Visualizador </div>
            <br>
            <div class="card-content">
                <div class="card-action">
                    <!-- botão que captura a mão, para então buscar a distância euclidiana -->
                    <button ng-click="capturar()" class="btn waves-effect waves-ligh" type="button" name="button"> CAPTURAR </button>
                    <button ng-click="salvaSinal()" class="btn waves-effect waves-ligh" type="button" name="button"> SALVAR </button>
                </div>
            </div>
        </div>
        <div class="col s12 m2 l2">
            <div class="card text-center">
                <div class="card-title">
                    Mão direita
                </div>
                <div class="card-content">
                    <p class="card-text">
                        Distância 1: {{ hand.maoDireita.distanciaPolegar }} 
                    </p>
                    <p class="card-text">
                        Distância 2: {{ hand.maoDireita.distanciaIndicador }}
                    </p>
                    <p class="card-text">
                        Distância 3: {{ hand.maoDireita.distanciaMedio }}
                    </p>
                    <p class="card-text">
                        Distância 4: {{ hand.maoDireita.distanciaAnelar }}
                    </p>
                    <p class="card-text">
                        Distância 5: {{ hand.maoDireita.distanciaMindinho }}
                    </p>
                    <p class="card-text">
                        Distância 6: {{ hand.maoDireita.distanciaMindinhoAnelar }}
                    </p>
                    <p class="card-text">
                        Distância 7: {{ hand.maoDireita.distanciaAnelarMedio }}
                    </p>
                    <p class="card-text">
                        Distância 8: {{ hand.maoDireita.distanciaMedioIndicador }}
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m2 l2">
            <div class="card text-center">
                <div class="card-title">
                    Mão esquerda
                </div>
                <div class="card-content">
                    <p class="card-text">
                    </p>
                    <p class="card-text">
                        Distância 1: {{ hand.maoEsquerda.distanciaPolegar }}
                    </p>
                    <p class="card-text">
                        Distância 2: {{ hand.maoEsquerda.distanciaIndicador }}
                    </p>
                    <p class="card-text">
                        Distância 3: {{ hand.maoEsquerda.distanciaMedio }}
                    </p>
                    <p class="card-text">
                        Distância 4: {{ hand.maoEsquerda.distanciaAnelar }}
                    </p>
                    <p class="card-text">
                        Distância 5: {{ hand.maoEsquerda.distanciaMindinho }}
                    </p>
                    <p class="card-text">
                        Distância 6: {{ hand.maoEsquerda.distanciaMindinhoAnelar }}
                    </p>
                    <p class="card-text">
                        Distância 7: {{ hand.maoEsquerda.distanciaAnelarMedio }}
                    </p>
                    <p class="card-text">
                        Distância 8: {{ hand.maoEsquerda.distanciaMedioIndicador }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>