<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            Visualizador
            <br>
            <button ng-click="salvar()" class="btn" type="button" name="button">SALVAR</button>
        </div>

        <div class="col-md-4">
            <p>Mãos</p>
            <div class="row">
                <div class="col-md-6 form-group">
                    <p>Mão direita </p>

                </div>

                <div class="col-md-6 form-group">
                    <p>Mão esquerda </p>
                </div>
            </div>
        </div>
    </div>
</div>
