/*
 * style.css
 */
.container, .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    background-color: #f9f9f9;
}
.row {
    margin-bottom: 15px;
}

.btn {
    margin-top: 400px;
    width: 250px;
}

[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
    background-color: rgba(251,251,251,.0);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
    border-left: none;
    text-align: center;
    height: 500px;
}

.form-group {
    height: 455px;
}
